# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'px转rem'
      'command': 'px2rem:convert'
    },
    {
      'label': 'rem转px'
      'command': 'px2rem:recovery'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'px与rem互转'
      'submenu': [
        {
          'label': 'px转rem'
          'command': 'px2rem:convert'
        },
        {
          'label': 'rem转px'
          'command': 'px2rem:recovery'
        }
      ]
    ]
  }
]
